*.class
*/.classpath
*/.project
*/.metadata
*/.settings/org.jdt.core.prefs
*.pdf
*.aux
*.toc
*.out
*.log
*.synctex.gz
/bin
/projects/.euml2
/projects/.umlproject
/guice-3.0
/jfugue-4.0.3
/junit4.9


# Taken from githubs gitignore for eclipse and adapted
*.pydevproject
*.tmp
*.bak
*.swp
*~.nib
projects/local.properties
projects/.settings/
projects/.loadpath
*.launch
.cproject
projects/.buildpath
